@import url('//js.arcgis.com/3.9/js/dojo/dijit/themes/claro/claro.css');
@import url('//js.arcgis.com/3.9/js/esri/css/esri.css');

div.ArcGisGearsPortletContainer {
    border: solid 1px #99C;
    position: relative;
    padding: 10px;
    height: 450px;
    margin: 0 7px 7px 7px;
}

div.ArcGisGearsPortletWithButtonContainer {
    border: solid 1px #99C;
    position: relative;
    padding: 10px;
    height: 50px;
    margin: 0 7px 7px 7px;
}
